#mapdiv(style="width:50%;height:50%")

:javascript
	var mc;
	function initialize() {
		var strikeLatlng = new google.maps.LatLng(#{@strike.lat}, #{@strike.lon});
		var mapOptions = {
			center: strikeLatlng,
			zoom: 8
		};
		map = new google.maps.Map(document.getElementById("mapdiv"), mapOptions);
		mc = new MarkerClusterer(map);

		

	}
	google.maps.event.addDomListener(window, 'load', initialize);