#strikes_table.card
  %table
    %tr
      %th Number
      %th Headline
      %th Country
      %th Date
    - @strikes.each do |strike|
      %tr
        %td= strike.link
        %td= strike.headline
        %td= strike.country_link
        %td= strike.format_date
